
.footer{
  //background: linear-gradient(0deg, #07060652 6.08%, rgb(7 6 6 / 29%) 55.03%, rgb(14 12 12 / 28%) 78.99%, rgb(27 23 23 / 14%) 90.45%, rgba(27, 23, 23, 0) 100%);
  z-index: 5;
  width: 100vw;
  position: fixed;
  bottom: 0;
}
.logo{
  margin: 50px auto 50px 135px;
  width: 65px;
  z-index: 2;
}
