.slider {
  height: 100vh;
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease;
}

.item {
  background-size: contain;
  min-width: 100%;
}

.info-overflow {
  overflow-y: scroll;
  direction: rtl;
}
.info-overflow::-webkit-scrollbar {
  color: transparent;
  width: 20px;
}
.info-overflow::-webkit-scrollbar-thumb {
  background: var(--pinky);
  border-left: 7px solid var(--pinky);
  border-right: 7px solid var(--pinky);
  border-radius: 10px 10px 10px 10px;
}

.info {
  position: relative;
  z-index: 2;
  display: flex;
  margin: 150px 120px auto 135px;
  flex-direction: column;
}

.info-brend {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 150px 90px auto 30vw;
}
.info-brend__article {
  letter-spacing: 0;
  font-size: 30px;
}

.article {
  white-space: break-spaces;
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

.descr {
  letter-spacing: 5px;
  font-size: 84px;
  margin-inline-end: 25px;
}

.btn-pinky {
  letter-spacing: 2px;
  display: inline-flex;
  border-color: transparent;
  padding: 20px;
  font-size: 30px;
  border-radius: 40px;
  background-color: var(--pinky);
  border: 13px;
  align-items: center;
}

.btn-arrow {
  fill: var(--white);
  width: 30px;
  background: var(--back-btn);
  border-radius: 26px;
  padding: 10px;
  margin-inline-end: 16px;
}

span.bold {
  font-weight: bold;
  margin-inline: 50px;
}

span.title {
  color: var(--title-num);
  font-weight: bold;
  font-size: 38px;
  display: inline-grid;
}

span {
  font-weight: normal;
}

span.normal {
  font-weight: normal;
  color: var(--back-btn);
  display: initial;
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.message-overflow {
  margin-left: 80px;
  height: 300px;
  direction: ltr;
}

.brend-table {
  height: 350px;
  column-gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.elem-table {
  background-color: var(--white);
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  box-shadow: 0 0 20px var(--shadow-elem);
}

.right-cols {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 40px;
}

.hidden {
  visibility: hidden;
}

.title-brand {
  display: flex;
  justify-content: space-between;
}

.addTable {
  display: none;
  row-gap: 20px;
  flex-direction: column;
}

.add-title {
  display: none;
}

.backteria {
  position: absolute;
  right: 50px;
  width: 100px;
  animation-name: animation-back;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.stick {
  width: 350px;
  position: absolute;
  left: -250px;
  top: 40px;
}

.backteriaSmall {
  position: absolute;
  bottom: 150px;
  left: 30px;
  animation-name: animation-back-small;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.backteriaBig {
  position: absolute;
  bottom: -100px;
  right: 300px;
  animation-name: animation-back-big;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.brand {
  position: absolute;
  bottom: 0;
  height: 90vh;
  left: 2050px;
}

.sperm {
  z-index: 3;
  position: absolute;
  transform: scale(0.5) rotate(366deg);
  top: 150px;
}

.paginat {
  display: flex;
}

.pagesbtn {
  background: transparent;
  border-color: transparent;
  font-size: 24px;
}

.page {
  flex-direction: column;
}

#page2 {
  display: none;
}

@keyframes animation-back-small {
  from {
    bottom: 150px;
    left: 30px;
  }
  to {
    bottom: 200px;
    left: 10px;
  }
}
@keyframes animation-back {
  from {
    top: 60px;
    right: 50px;
  }
  to {
    top: 30px;
    right: 200px;
  }
}
@keyframes animation-back-big {
  from {
    bottom: -300px;
    right: 300px;
  }
  to {
    bottom: -330px;
    right: 300px;
  }
}

/*# sourceMappingURL=slide.css.map */
