.slider {
  display: flex;
  flex-direction: row;
  transition: all 1s ease;
}

.item {
  min-width: 100%;
}

.info {
  position: relative;
  z-index: 2;
  display: flex;
  margin: 80px 60px;
  flex-direction: column;
}

.info-brend {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 60px 90px auto 30vw;
}
.info-brend__article {
  letter-spacing: 0;
  font-size: 30px;
}

.article {
  white-space: break-spaces;
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

.descr {
  letter-spacing: 5px;
  font-size: 90px;
  margin-inline-end: 25px;
}

.btn-pinky {
  letter-spacing: 2px;
  display: inline-flex;
  border-color: transparent;
  padding: 20px;
  font-size: 30px;
  border-radius: 40px;
  background-color: #ff7ba0;
  border: 13px;
  align-items: center;
}

.btn-arrow {
  fill: white;
  width: 30px;
  background: black;
  border-radius: 26px;
  padding: 10px;
  margin-inline-end: 16px;
}

span.bold {
  font-weight: bold;
  margin-inline: 50px;
}

span.title {
  color: aquamarine;
  font-weight: bold;
  font-size: 38px;
  display: inline-grid;
}

span {
  font-weight: normal;
}

span.normal {
  font-weight: normal;
  color: black;
  display: initial;
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.message-overflow {
  max-height: 300px;
  overflow-y: scroll;
  margin: 20px 50px 0 100px;
}

.brend-table {
  height: 350px;
  column-gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.elem-table {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  box-shadow: 0 0 20px rgba(217, 209, 209, 0.768627451);
}

.right-cols {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 40px;
}

.hidden {
  visibility: hidden;
}

.title-brand {
  display: flex;
  justify-content: space-between;
}

.addTable {
  display: none;
  row-gap: 20px;
  flex-direction: column;
}

.add-title {
  display: none;
}

.backteria {
  position: absolute;
  right: 50px;
  width: 100px;
  animation-name: animation-back;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.stick {
  width: 350px;
  position: absolute;
  left: -250px;
  top: 40px;
}

.backteriaSmall {
  position: absolute;
  bottom: 150px;
  left: 30px;
  animation-name: animation-back-small;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.backteriaBig {
  position: absolute;
  bottom: -100px;
  right: 300px;
  animation-name: animation-back-big;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.sperm {
  z-index: 3;
  position: absolute;
  transform: scale(0.5) rotate(366deg);
  left: 120px;
  top: 150px;
}

@keyframes animation-back-small {
  from {
    bottom: 150px;
    left: 30px;
  }
  to {
    bottom: 200px;
    left: 10px;
  }
}
@keyframes animation-back {
  from {
    top: 60px;
    right: 50px;
  }
  to {
    top: 30px;
    right: 200px;
  }
}
@keyframes animation-back-big {
  from {
    bottom: -300px;
    right: 300px;
  }
  to {
    bottom: -330px;
    right: 300px;
  }
}

/*# sourceMappingURL=slide.css.map */
