div.slider
    div(class="item")
        div(class="info")
            span.article ПРИВЕТ,
            span.descr ЭТО
                span.descr.bold НЕ
            div
                span.descr КОММЕРЧЕСКОЕ ЗАДАНИЕ
                button.btn-pinky
                    svg.btn-arrow(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 476.213 476.213" style="enable-background:new 0 0 476.213 476.213;" xml:space="preserve")
                        polygon(points="345.606,107.5 324.394,128.713 418.787,223.107 0,223.107 0,253.107 418.787,253.107 324.394,347.5 345.606,368.713 476.213,238.106 ")
                    span Что дальше?
    div(class="item")
        div.info
            span.article ТЕКСТ!{'\n'}СООБЩЕНИЯ
            div.elem-table.message-overflow.bold Lorem ipsum dolor sit amet,
                span.normal consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
    div(class="item")
        div.info-brend
            span.info-brend__article КЛЮЧЕВОЕ СООБЩЕНИЕ
            span.descr BREND
                span.descr.bold XY
            div.brend-table
                span.elem-table consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cu
                div.right-cols
                    span.elem-table Aenean massa. Cum sociconsectetuer adipiscing elit.Aenean massa. Cum sociconsectetuer adipiscing elit.
                    button.btn-pinky
                        svg.btn-arrow(version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 83 83" style="enable-background:new 0 0 83 83;" xml:space="preserve")
                            g
                                path(d="M81,36.166H2c-1.104,0-2,0.896-2,2v6.668c0,1.104,0.896,2,2,2h79c1.104,0,2-0.896,2-2v-6.668C83,37.062,82.104,36.166,81,36.166z")
                        span Подробнее